/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-x: hidden;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: cadetblue;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 0 20px;
    height: 80px;
    width: 100%;
}

.company-logo {
    display: flex;
    align-items: center;
}

.company-logo img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.brand-title {
    flex: 1;
    font-size: 18px;
    color: #f9f9f9;
    text-align: center;
}

.navigasi {
    display: flex;
    align-items: center;
}

.navigasi a {
    font-size: 18px;
    font-weight: 400;
    color: #f9f9f9;
    padding: 8px 12px;
    margin: 0 5px;
    border-radius: 5px;
    text-decoration: none;
}

.navigasi a:hover {
    background-color: white;
    color: black;
}

/* MAIN CONTENT */
.tagline-main{
    text-align: center;
    font-size: 32px;
}

.tagline-sub{
    text-align: center;
    opacity: 60%;
    font-size: 16px;
}

.main-content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.main-left{
    width: 75%;
    height: 700px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: relative;
    object-fit: cover;
}

.main-right {
    width: 50%;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-banner{
    width: 100%;
    height: 400px;
    display: block;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}

.main-banner img {
    width: 100%;
    height: 400px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.main-banner img.active {
    display: block;
}

.banner{
    border-radius: 10px;
}

.main-banner img.banner {
    width: 100%;
    height: 400px;
    display: block;
}

.main-item{
    display: flex;
    justify-content: center;
    margin-top: 55px;
    
}

.main-icon{
    height: 40px;
    width: 40px;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 10px;
}

.icon{
    height: 40px;
    width: 40px;
    border-radius: 50px;
    object-fit: fill;
}

.icon-desc-main{
    font-weight: 450;
    margin: 0;
    margin-bottom: 2px;
    padding: 0;
}

.icon-desc-sub{
    font-weight: 450;
    font-size: 15px;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}

.icon-review{
    font-weight: 450;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

.main-right-title{
    margin-left: 15px;
}

.main-right-sub{
    margin-top: 0.5px;
    margin-left: 15px;
}

.main-name, .email, .number, .main-destination-title{
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
}

#name, #input-email, #phoneNumber, #main-destination-option{
    width: 95%;
    padding: 12px 20px;
    margin: 15px 12px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.main-right-submit{
    display: inline-block;
    padding: 0 20px;
    color: cadetblue;
    background-color: transparent;
    border: 2px solid cadetblue;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    line-height: 32px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.main-right-submit:hover {
    font-weight: bold;
    background-color: cadetblue;
    color: aliceblue;
}

/* ERROR MESSAGE */
.error-message{
    font-weight: 600;
    font-size: 15px;
    color: red;
    margin: 1px;
    margin-top: 0;
    text-align: center;
}

/* BENEFITS */
.main-benefit{
    width: 77%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 20px;
}

.benefit-title{
    text-align: center;
    margin: 0%;
    margin-top: 1%;
    font-size: 30px;
}

.benefit-list{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 4%; 
}

/* TOP DESTINATION */
#main-top-destination{
    width: 77%;
    height: 650px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    text-align: left;
}

.top-desti-title{
    font-size: 30px;
    margin: 1% 0;
}

.top-desti-sub{
    margin-left: 0%;
}

.upper-top, .lower-top{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.destination-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 400px;
    height: 250px;
}

.destination-card img {
    width: 100%;
    display: block;
    transition: 0.3s;
}

.destination-card:hover img {
    filter: brightness(70%);
}

.desti {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.destination-info {
    position: absolute;
    bottom: 200px;
    left: 0px;
    width: 100%;
    background: rgba(39, 39, 39, 0);
    color: white;
    padding: 10px;
    text-align: left;
    border-radius: 0 0 10px 10px;
    font-size: 25px;
    font-weight: bold;
}

/* CONTACT */
#main-contact{
    width: 77%;
    height: auto;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: auto;
    margin-top: 40px;
    text-align: center;
}

.contact-title{
    font-size: 32px;
    margin-top: 1%;
    margin-bottom: 0;
}

.contact-button{
    display: inline-block;
    padding: 0 20px;
    color: cadetblue;
    background-color: transparent;
    border: 2px solid cadetblue;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin-top: 15px;
    width: auto;
    height: 40px;
    border-radius: 10px;
    line-height: 32px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.contact-button:hover {
    font-weight: bold;
    background-color: cadetblue;
    color: aliceblue;
}


/* FOOTER */
.main-foot {
    width: 100%;
    box-sizing: border-box;
    height: auto;
    background-color: cadetblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    text-align: center;
    overflow: hidden;
    margin-top: 40px;
}

.footer-title {
    font-size: 22px;
    color: #f9f9f9;
}

.upper-foot {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #f9f9f9;
}

.upper-foot p {
    margin: 0;
}

.upper-foot p a {
    color: #f9f9f9;
    text-decoration: none;
}

.upper-foot p a:hover {
    text-decoration: underline;
}

.lower-foot {
    font-size: 16px;
    margin: 0;
    color: #f9f9f9;
}


/* RESPONSIVE DESIGN */
/* Layar HP */
@media only screen and (min-width: 300px) and (max-width: 599px) {
    .header {
        flex-direction: column;
        padding: 10px;
        height: auto;
    }

    .company-logo {
        margin-bottom: 10px;
    }

    .navigasi {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .navigasi a {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    .main-content {
        flex-direction: column;
        padding: 10px;
    }

    .main-left {
        width: auto;
        margin-bottom: 20px;
    }

    .main-right {
        width: auto;
    }

    .main-banner {
        height: 400px;
    }

    .destination-card {
        width: 100%;
        height: 200px;
    }

    .destination-info {
        font-size: 14px;
        top: 2px;
        padding: 5px;
    }

    .main-foot {
        width: 100%;
        padding: 20px;
    }

    .footer-title {
        font-size: 16px;
    }

    .upper-foot {
        font-size: 12px;
    }

    .lower-foot {
        font-size: 12px;
    }
}

/* Layar Tablet */
@media only screen and (min-width: 600px) and (max-width: 1024px) {
    .main-content {
        flex-direction: column;
    }

    .main-left {
        width: 100%;
    }

    .main-right {
        width: 100%;
    }

    .main-banner {
        height: 400px;
    }

    .destination-card {
        width: 100%;
        height: 250px;
    }

    .destination-info {
        font-size: 22px;
    }

    .main-foot {
        width: 100%;
        padding: 20px;
    }

    .footer-title {
        font-size: 18px;
    }

    .upper-foot {
        font-size: 14px;
    }

    .lower-foot {
        font-size: 14px;
    }
}

/* Layar Desktop */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    .main-content {
        flex-direction: row;
    }

    .main-left {
        width: 70%;
    }

    .main-right {
        width: 30%;
    }

    .main-banner {
        height: 400px;
    }
}