.header{
    border: 1px solid;
    display: flex;
    justify-content: space-between;
}

.title{
    display: flex;
    align-items: center;
    /* background-image: url("https://picsum.photos/200");
    height: 25px;
    width: 50px;
    background-size: cover; */
}

.brand-title{
    padding-left: 12px;
    margin-left: 15px   ;
}

.item {
    border: 1px solid;
    text-align: center;
    padding: 8px;
}

.navigasi {
    display: flex;
    align-items: center;
}

.tagline-main{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
}

.tagline-sub{
    text-align: center;
    opacity: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

.main-content{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto; */
}

.main-left{
    /* border: 1px solid; */
    width: 75%;
    height: 550px;
    background-color: #f9f9f9;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.main-right {
    /* border: 1px solid; */
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.main-banner{
    width: 75%;
    height: 85%;
    display: block;
    margin-bottom: 20px;
    border: 1px solid;
    background-image: url("https://picsum.photos/200");
}

.main-icon{
    height: 25px;
    width: 25px;
    border: 1px solid;
    background-image: url("https://picsum.photos/25");
    border-radius: 50%;
}

.icon-desc-main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
}

.icon-desc-sub{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 450;
    text-align: center;
    font-size: 15px;
}

.main-item{
    display: flex;
    align-items: center;
    margin-left: 25px;
    justify-content: center;
    
}

.main-right-title{
    margin-left: 15px;
}

.main-right-sub{
    margin-top: 0.5px;
    margin-left: 15px;
}

.main-name{
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* align-self: center; */
}

#name{
    width: 50%;
    padding: 12px 20px;
    margin: 15px 12px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    align-self: center;
}

.email{
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* align-self: center; */
}

#input-email{
    width: 50%;
    padding: 12px 20px;
    margin: 15px 12px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    align-self: center;
}

.number{
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* align-self: center; */
}

#phoneNumber{
    width: 50%;
    padding: 12px 20px;
    margin: 15px 12px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    align-self: center;
}

.main-right-submit{
    margin-top: 15px;
    width: 50%;
    height: 32px;
    align-self: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: aliceblue;
    background-color: cadetblue;
    border: 0px;
    border-radius: 10px;
}

.main-destination-title{
    margin-left: 15px;
    margin-bottom: 0px;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: bold;
    /* align-self: center; */
}

#main-destination-option{
    width: 50%;
    padding: 12px 20px;
    margin: 15px 12px;
    display: inline-block;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
    align-self: center;
}